<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.182690981022-erotfhq87oe6ubun28aetpknok9b06b4</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>182690981022-erotfhq87oe6ubun28aetpknok9b06b4.apps.googleusercontent.com</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_ftp._tcp</string>
		<string>_blackmagic._tcp</string>
		<string>_smb._tcp</string>
	</array>
	<key>NSServices</key>
	<array>
		<dict/>
	</array>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://github.com/iamanthonyterry/Network_Sync/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>IdVQPAGOXjruuLtPzqy1ZTI6lbSyuAm/aXY5V4lx7ws=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
